.large-gradient-button {
	display: inline-block;
	margin: 2rem auto 5rem;
	padding: 1rem 3rem;
	border: 0.1rem solid #eee;
	border-radius: 2.5rem;
	background: linear-gradient(15deg, #48395c, #171332 30%, #3d3863, #171332 70%, #48395c);
}

.large-gradient-button > span {
	color: #fff;
	font-family: 'AvenirNext Regular', sans-serif;
	font-size: 5rem;
	letter-spacing: 0.1em;
	text-shadow: 0 0.3rem 0.3rem #000;
	text-transform: uppercase;
}

.vote-section-heading {
	margin-top: 2rem;
	font-family: 'AvenirNext Heavy', sans-serif;
	font-size: 3.5rem;
	letter-spacing: 0.1rem;
	text-align: center;
	text-transform: uppercase;
	-webkit-text-stroke: 0.125em rgba(255, 255, 255, 0.01);
}

.form-control:focus,
.input-styles {
	background-color: transparent !important;
	font-size: 2.5rem !important;
	padding-left: 5rem !important;
}

.icon-vote_1 img {
	max-width: 15rem;
}

.translate-middle_1 {
	transform: translate(-50%, -73%) !important;
}

.input-styles {
	z-index: 1;
	top: 25%;
	left: 0;
	padding-left: 2rem;
	color: white;
	font-family: 'AvenirNext Regular', sans-serif;
	font-size: 1.5rem;
}

.form-control:focus {
	border-color: transparent !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.voting-form-1,
.voting-form-2,
.voting-form-3 {
	max-width: 80%;
	margin: 10rem auto 0;
	border: 0.5rem solid transparent;
	border-radius: 0.5rem;
	background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
		linear-gradient(
				to right,
				#bf7dd5 0,
				#dea0e8 20%,
				#200d41 37%,
				#a591ef 58%,
				#200e43 69%,
				#513168 77%,
				#dea0e8 93%,
				#c07ed5 100%
			)
			border-box;
}

.voting-form-1 {
	--bg-color: #5c5e7b;

	margin: 0 auto;
	background-size: contain;
}

.voting-form-2 {
	--bg-color: #1a1c31;
	margin-top: 12rem;
}

.voting-form-3 {
	--bg-color: #5c5e7b;

	margin-top: 12rem;
}
