.section1 {
	margin-top: 85px;
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #191b31;
	background-image: url(../images/section1_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.section1_logo {
	width: 55%;
	margin: 1%;
}

.section1_coin {
	width: 60%;
	margin-top: 20%;
}

@media only screen and (max-width: 767px) {
	.section1 {
		margin-top: -4rem;
		padding-top: 3rem;
		padding-bottom: 12rem;
		background-size: contain;
	}

	.section1_coin {
		display: none;
	}

	.section1_logo {
		width: 85rem;
		margin: 0;
	}
}
